@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	text-decoration: none;
}

:root {
	/* Light Mode */
	--bodyBg: #c9dbe7;
	--paraColor1: #838a99;
	--paraColor2: #949ca8;
	--primaryColor: #1a667a;
	--secondaryColor: #0b1535;
	--navBg: #dde8eb;
	--contentBg: #ddeaf3;
	--containerBg: #ffffff;
	--headlineColor: #050b2c;
	--subheadlineColor: #9199a5;
	--btnBg: #cdd3de;
	--btnShadow: #d7deeb;

	/* Common */
	--progressBar: #1a667a;
}

.darkTheme {
	--bodyBg: #121213;
	--paraColor1: #757577;
	--paraColor2: #7a7a7b;
	--primaryColor: #ffffff;
	--secondaryColor: #ffffff;
	--navBg: #1a667a;
	--contentBg: #252529;
	--containerBg: #1a1a1e;
	--headlineColor: #ececec;
	--subheadlineColor: #7a7a7b;
	--btnBg: #1a1a1e;
	--btnShadow: #2c2c31;
}

body {
	background-color: var(--bodyBg);
	font-family: "Nunito", sans-serif;
	color:var(--primaryColor);
	display: block;
}

#dashboard {
	display: grid;
	width: 100%;
}

a {
	text-decoration: none;
}

.nav__links {
	padding-top: 1rem;
	width: 15rem;
	background-color: cadetblue;
	color: white;
	position: sticky;
	top: 0;
	height: 100vh;
}

.nav__links h1 {
	font-size: 2rem;
	text-align: center;
	margin-bottom: 2rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid var(--nav-h1_color);
}

.nav__links > ul li {
	list-style: none;
}

.nav__links li a {
	color: white;
	padding: 0.5rem 2rem;
	width: 100%;
	display: block;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
}

.nav__links li:last-child {
	margin-top: auto;
}

.nav__links li:hover {
	background-color: var(--nav-color_hover);
	border-right: 2px solid white;
}

.sideNav {
	background-color: var(--containerBg);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.3s ease-in-out;
}

.showsideNav {
	width: 300px;
	padding: 2em 1em;
	overflow: visible;
}

.toggleMenu {
	position: fixed;
	top: 0;

	background-color: var(--containerBg);
	color: var(--paraColor1);
	font-size: 1.1rem;
	padding: 0.3em;
	border-radius: 0 10px 10px 0;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.slidetoggleMenu {
	left: 300px;
}

.toggelMenuIcon {
	transform: rotate(0deg);
	transition: all 0.5s ease-in-out;
}

.rotateToggelMenuIcon {
	transform: rotate(180deg);
}

#logo {
	display: flex;
	align-items: center;
	margin-bottom: 2em;
}

.logoPic {
	background-color: var(--contentBg);
	height: 30px;
	width: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primaryColor);
	font-weight: 900;
	font-size: 1.1rem;
	margin-right: 1em;
}

.logoName {
	font-weight: 900;
	font-size: 1.5rem;
	color: var(--primaryColor);
}

.navSectionName {
	color: var(--paraColor2);
	margin-top: 1em;
	font-size: 0.9rem;
}

.navLink {
	color: var(--paraColor1);
	padding: 0.7em 1em;
	border-radius: 10px;
	margin-bottom: 0.3em;
	font-size: 0.9rem;
	font-weight: 600;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.navLink:hover {
	background-color: var(--navBg);
	color: var(--primaryColor);
}

.icon {
	width: 15px;
	margin-right: 0.5em;
	text-align: center;
}

.activeNavLink {
	background-color: var(--navBg);
	color: var(--primaryColor);
}

.copyright {
	font-weight: 900;
	font-size: 1rem;
	color: var(--secondaryColor);
}

.copyDesc {
	color: var(--paraColor1);
	font-size: 0.9rem;
	width: 80%;
}

.activeContent {
	display: block;
}

@media screen and (min-width: 1000px) {
	.toggleMenu {
		display: none;
	}

	.sideNav {
		width: 300px;
		padding: 2em 1em;
	}

	.content {
		margin-left: 300px;
	}
}

#main {
	width: 95%;
	margin: auto;
	margin-top: 1.7em;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.headline {
	color: var(--headlineColor);
	font-weight: 900;
	font-size: 1.5rem;
}

.subheadline {
	color: var(--subheadlineColor);
	font-weight: 600;
}

.iconContainer {
	background-color: var(--containerBg);
	padding: 0.5em;
	margin-right: 0.7em;
	width: 40px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.iconContainer i {
	color: var(--primaryColor);
}

.notification {
	position: relative;
}

.notification::after {
	content: "";
	width: 5px;
	height: 5px;
	background-color: #1a667a;
	position: absolute;
	top: -2px;
	left: 6px;
	border-radius: 50%;
	border: 2px solid white;
}

.profileContainer {
	display: flex;
	align-items: center;
}

.profilePic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	border: 4px solid white;
}

.profilePic img {
	object-fit: center;
	width: 100%;
}

@media screen and (min-width: 1000px) {
	#main {
		margin-top: 1em;
	}

	#dashboard {
		display: grid;
		grid-template-columns: 1fr 2.2fr;
	}
}

@media screen and (min-width: 1100px) {
	#dashboard {
		display: grid;
		grid-template-columns: 1fr 3fr;
	}
}

@media screen and (min-width: 1200px) {
	#dashboard {
		display: grid;
		grid-template-columns: 1fr 3.5fr;
	}
}

.analytics {
	justify-items: center;
	margin-top: 3em;
}

.analyticsCard {
	background-color: var(--containerBg);
	padding: 1em 1em;
	border-radius: 20px;
	width: 100%;

	margin: 10px;
}
.analyticsCard {
    background-color: var(--containerBg);
    padding: 1em 1em;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
}

@media screen and (min-width:1200px) {
    .analyticsCard {
        width: 80%;
        margin: 20px auto;
        padding: 1.5em 2em;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .analyticsCard {
        width: 90%;
        margin: 15px auto;
        padding: 1.2em 1.5em;
    }
}

@media screen and (max-width:767px) {
    .analyticsCard {
        width: 100%;
        margin: 10px 0;
        padding: 1em;
    }
}

.analyticsCard1 {
    background-color: var(--containerBg);
    padding: 1em 1em;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
}

@media screen and (min-width:1200px) {
    .analyticsCard1 {
        width: 75%;
        margin: 20px auto;
        padding: 1.5em 2em;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .analyticsCard1 {
        width: 85%;
        margin: 15px auto;
        padding: 1.2em 1.5em;
    }
}

@media screen and (max-width:767px) {
    .analyticsCard1 {
        width: 100%;
        margin: 10px 0;
        padding: 1em;
    }
}

.debitcardContainer {
	display: grid;
	gap: 20px;
	margin-top: 0em;
	align-items: center;
	justify-items: center;
}

.debitcardPic {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 300px;
}

.debitcardPic img {
	width: 100%;
}

.addDebitCard {
	background-color: var(--contentBg);
	padding: 1.5em 1em;
	border-radius: 10px;
	color: var(--secondaryColor);
	font-weight: 700;
	text-align: center;
	max-height: 200px;
	cursor: pointer;
	max-width: 150px;
}

.addbutton {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--btnBg);
	height: 80px;
	border-radius: 10px;
	box-shadow: 0px 8px 2px 0px var(--btnShadow);
	margin-bottom: 20px;
}

.addbutton i {
	color: var(--paraColor1);
	background-color: white;
	padding: 0.5em;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.totalBalanceCard {
	text-align: center;
	height: 35vh;
	width: 100%;
	display: flex;
	text-align: center;
}
.totalBalanceCard1 {
	text-align: center;
	height: 40vh;
	width: 100%;
	display: flex;
	text-align: center;
}
.totalBalanceCard {
    text-align: center;
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center; /* Centers content horizontally */
    align-items: center; /* Centers content vertically */
}


@media screen and (max-width: 767px) {
    .totalBalanceCard {
        height: 152vh;
        width: 100%;
        flex-direction: column;
    }
}
.totalBalanceCard1 {
    text-align: center;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.side {
	margin-left: 50px;
	float: right;
}

.cardHeader {
	color: var(--secondaryColor);
	font-weight: 700;
	text-transform: capitalize;
}
.cardHeaderr {
	color: var(--secondaryColor);
	font-weight: 700;
	text-transform: capitalize;
	font-size: 0.9rem;
}

.totalBalance {
	font-weight: 900;
	font-size: 2rem;
	margin: 0.5em 0;
	color: var(--primaryColor);
}

.earnDate {
	color: var(--paraColor1);
}

.btnContainer {
	background-color: var(--contentBg);
	margin: auto;
	margin-top: 1.5em;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	max-width: 250px;
}

.btn {
	display: flex;
	flex-direction: column;
	background-color: var(--containerBg);
	color: var(--primaryColor);
	font-weight: 700;
	padding: 0.5em 0.8em;
	border-radius: 10px;
	cursor: pointer;
	text-transform: capitalize;
	font-size: 0.9rem;
	margin: 0.5em;
}

.btn i {
	margin-bottom: 0.7em;
	font-size: 1rem;
}

.delete-btn {
	background-color: #ff4d4d;
	color: white;
	border: none;
	padding: 5px 10px;
	cursor: pointer;
}

.add-btn {
	display: inline-block;
	background-color: #4caf50;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
}

.add-btn:hover,
.delete-btn:hover {
	opacity: 0.8;
}

.cardHeader1 {
	display: contents;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	place-items: center;
}
.cardHeader2 {
	display: contents;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	place-items: center;
}

.filterDate {
	color: var(--paraColor1);
	cursor: pointer;
}

.transactionContainer {
	margin-top: 3em;
	max-height: 700px;
    overflow-y: auto;
}

.eachTransaction {
	    border-radius: 9px;
    background-color: #c9dbe7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5em;
}

.tansactionDesc {
	    margin: 20px;
    max-width: 51%;
    width: 68%;
	display: flex;
	align-items: center;
}

.paymentMethod {
	width: 40px;
	margin-right: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--contentBg);
	padding: 0.5em;
	border-radius: 10px;
}

.paymentMethod img {
	width: 90%;
}

.paymentStatus h3 {
	font-size: 0.9rem;
	color: var(--secondaryColor);
	font-weight: 700;
}

.paymentStatus p {
	font-size: 0.8rem;
	color: var(--paraColor2);
}

.earnTransaction {
	font-size: 0.9rem;
	font-weight: 900;
	color: var(--primaryColor);
}

.reduceTransaction {
	font-size: 0.9rem;
	color: var(--paraColor2);
}

.popup {
	background-color: #fefefe !important;
	position: absolute;
	top: -150%;
	overflow: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	box-shadow: 2px, 2px, 5px, 5px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
}

.popup .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 15px;
	height: 15px;
	background: #888;
	color: #eee;
	text-align: center;
	line-height: 15px;
	border-radius: 15px;
	cursor: pointer;
}

.popup .form h2 {
	text-align: center;
	color: #222;
	margin: 10px, 0px, 20px;
	font-size: 25px;
}

.popup .form .form-element {
	margin: 15px, 0px;
}

.popup .form .form-element label {
	font-size: 15px;
	color: #222;
}
.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="password"] {
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	outline: none;
	border: 1px, solid;
}

/*pie chart*/

.invoice-form {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.form-container {
    display: flex;
    justify-content: space-between;
}

.form-section {
    width: 48%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    margin-bottom: 20px;
}

.form-section1 {
    width: 48%;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section1 h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input::placeholder {
    color: #999;
}


/* Input Box Styles */
.modal-content .input-box {
	position: relative;
	width: 100%;
	height: 50px;
	margin: 30px 0;
}

.modal-content .input-box input {
	width: 100%;
	height: 100%;
	background: transparent;
	border: none;
	outline: none;
	border: 2px solid rgba(255, 255, 255, 0.2);
	border-radius: 40px;
	font-size: 16px;
	color: #5c5c5c;
	padding: 20px 45px 20px 20px;
}

.modal-content .input-box input::placeholder {
	color: #5c5c5c;
}

.modal-content .input-box i {
	position: absolute;
	right: 20px;
	top: 30%;
	transform: translate(-50%);
	font-size: 20px;
}

.gaugeContainer {
	position: relative;

	top: 37px;
	/* right: 29px; */
	max-width: 315px;
	margin: auto;
	margin-top: 1em;
}

.gaugeBody {
	background-color: var(--contentBg);
	width: 100%;
	height: 0;
	border-top-right-radius: 100% 200%;
	border-top-left-radius: 100% 200%;
	position: relative;
	padding-bottom: 50%;
	overflow: hidden;
}

.gaugeProgress {
	background-color: var(--progressBar);
	width: inherit;
	height: 100%;
	position: absolute;
	top: 100%;
	transform: rotate(0.42turn);
	transform-origin: center top;
}

.guageNumber {
	position: absolute;
	z-index: 100;
	width: 80%;
	height: 80%;
	background-color: var(--containerBg);
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	border-top-right-radius: 100% 200%;
	border-top-left-radius: 100% 200%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.3rem;
	font-weight: 900;
	color: var(--secondaryColor);
}

.expenseStatus {
	color: var(--primaryColor);
	font-size: 1rem;
	margin-top: 1em;
}

.totalExpense {
	background-color: var(--contentBg);
	max-width: 200px;
	margin: auto;
	margin-top: 2em;
	padding: 1em;
	border-radius: 10px;
	color: var(--primaryColor);
	font-weight: 700;
}

.totalExpensePrice {
	font-weight: 900;
}

@media screen and (min-width: 750px) {
	.analytics {
		grid-template-columns: 1.5fr 1fr;
	}
}
@media screen and (min-width: 300px) {
	.debitcardContainer {
		grid-template-columns: 2fr 1fr;
	}
}

@media screen and (min-width: 1100px) {
	.debitcardContainer {
		grid-template-columns: 2fr 1fr;
	}

	.guageNumber {
		font-size: 2rem;
	}

	.expenseStatus {
		font-size: 1.2rem;
	}
}

.transactionContainer {
max-height: 700px;
    overflow-y: auto;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background: #c9dbe7;
	margin: 15% auto;
	color: #0b1535;
	padding: 20px;
	border: 1px solid #888;
	width: 100%;
	max-width: 88%;
	font-size: 30px;
	text-align: center;
	backdrop-filter: blur(9px);
	border-radius: 12px;
	border: 2px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width:1200px) {
    .modal-content {
        margin: 10% auto;
        padding: 30px;
        font-size: 32px;
        max-width: 60%;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .modal-content {
        margin: 12% auto;
        padding: 25px;
        font-size: 28px;
        max-width: 75%;
    }
}

@media screen and (max-width:767px) {
    .modal-content {
        margin: 15% auto;
        padding: 20px;
        font-size: 24px;
        max-width: 90%;
    }
}


.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
